* {
  margin:0px;
}
.stripes-red {
  background:red;
  height: 50px;
  width:800px;
}
.stripes {
  height: 50px;
  width: 800px;
}

.blue {
    height: 250px;
    width: 300px;
    background-color: darkblue;
    display: inline-block;
    color: white;
    position: absolute;
    top: 0;
}
