* {
  margin:0px;
}
.stripes-red {
    background: red;
    height: 50px;
    width: 1000px;
}
.stripes {
  height: 50px;
  width: 800px;
}

.blue {
    height: 350px;
    width: 400px;
    background-color: darkblue;
    color: white;
    position: absolute;
    top: 0;
}
.row {
    display: flex;
    justify-content: space-around;
}
span {
  font-size: 30px;
  margin:1px 0px;
}
/* Patrick Dewey, John Lanfear, Katelyn Ma, Hunjin Ryan Park, Vincent Guerena */
/* We tried our hardest */
